In [23]:
my_cat = {
    'size': 'fat',
    'color': 'gray',
    'disposition': 'loud'
}
#add a key value in our dict
my_cat['Age_year']=2
#getting a updated dict
my_cat

{'size': 'fat', 'color': 'gray', 'disposition': 'loud', 'Age_year': 2}

In [2]:
#getting value using key

my_cat['size']

'fat'

In [3]:
#getting all values using for loop

for i in my_cat.values():
  print(i)

fat
gray
loud
2

In [4]:
#getting all keys using for loop
for j in my_cat.keys():
  print(j)

size
color
disposition
Age_year

In [10]:
#items

for k in my_cat.items():
  print(k)

('size', 'fat')
('color', 'gray')
('disposition', 'loud')
('Age_year', 2)

In [9]:
pet = {'color': 'red', 'age': 42}
for k in pet.items():
  print(k)

('color', 'red')
('age', 42)

In [14]:
#get>>> get method is to return the value with the given key
pet = {'color': 'red', 'age': 42}
pet.get('color')
pet.get('age')

42

In [17]:
wife = {'name': 'Rose', 'age': 33}
wife.get('name')
print(f"My wife name is {wife.get('name')} and her age is {wife.get('age')}")

My wife name is Rose and her age is 33

In [22]:
#update method>>> we use it for update the key values pair
wife.update({'age':14})
wife
print(f"My wife name is {wife.get('name')} and her age is {wife.get('age')}")

My wife name is Rose and her age is 14

In [26]:
#Adding items with setdefault()
my_cat = {
    'size': 'fat',
    'color': 'gray',
    'disposition': 'loud'
}
my_cat.setdefault('food','non veg')
my_cat

{'size': 'fat', 'color': 'gray', 'disposition': 'loud', 'food': 'non veg'}

In [28]:
#Removing items.

#Methods to remove the items in dictionary are
'''
1.pop
2.popitems
3.del
4.clear
'''
student={'name':'rajiv', 'grade':10, 'marks':420, 'status': 'pass'}
student.pop('name')
print(student)
#here name has removed

{'grade': 10, 'marks': 420, 'status': 'pass'}

In [31]:
#popitem>>it remove the last element of the dictionary

student.popitem()

print(student)

{'grade': 10}

{'grade': 10}

In [37]:
#delete
#It delete the values of dict of given key
student={'name':'rajiv', 'grade':10, 'marks':420, 'status': 'pass'}
del student['status']
print(student)
#here status key value pair has deleted in the output

{'name': 'rajiv', 'grade': 10, 'marks': 420}

In [39]:
#clear()
#The clear() method removes all the items in a dictionary.
student={'name':'rajiv', 'grade':10, 'marks':420, 'status': 'pass'}
student.clear()
student

{}

In [41]:
#checking keys in dict

animals={'dog':'bark', 'giraffe':'cry', 'camel':'nuzzling', 'crow':'cah'}
'dog' in animals.keys()

True

In [42]:
#checking values in dict
'cry' in animals.values()

True

In [48]:
#Merge two dict >>>>using |
dict1={'fruit':'apple', 'veg':'onion', 'non-veg':'fish'}
dict_2={'country':'India', 'capital':'Delhi', 'Currency':'Rupaye'}
print(dict1|dict_2)

{'fruit': 'apple', 'veg': 'onion', 'non-veg': 'fish', 'country': 'India', 'capital': 'Delhi', 'Currency': 'Rupaye'}